* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
  color: white;
}
html,
body {
  width: 100%;
  height: 100%;
}

#page1,
#page2,
#page3 {
  height: 100%;
  width: 100%;
  background-color: salmon;
}

#page2 {
  background-color: greenyellow;
}
#page3 {
  background-color: orchid;
}
#page2 img {
  height: 100%;
  width: 20%;
  object-fit: cover;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
