@mixin btn($bg-color: #e43aad){
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border: 0;
    padding: $base-padding $base-padding * 2;
    border-radius: $base-border-radius;
    background-color: $bg-color;
}

@each $key,$val in $colors{
    .btn-#{$key}{
        @include btn($val);
        &:hover{
            background-color: lighten($val, 10)  // inbuilt function
        }
    }
    .btn-outlined-#{$key}{
        @include btn(#fff);
        border: $base-border-thickness solid $val;
        &:hover{
            background-color: $val;
        }
    }
}

.btn{
    @include btn;
}