*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}

#nav{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

#nav-part1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1px;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.gola{
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: black;
}
#nav-part2 h4{
    font-size: 16px;
    font-weight: 600;
}
#nav-part2 h4 span{
    color: rgb(75, 75, 77);
    margin-left: 20px;
}
#nav-part2 h5{
    display: none;
}

#nav-2{
    height: 30px;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    gap: 90px;
    padding: 0 50px;
}

#nav-2 h3{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}

#content{
    height: calc(100% - 80px);
    width: 100%;
    /* background-color: aquamarine; */
}

#text-content{
    height: 30%;
    width: 100%;
    /* background-color:burlywood; */
    display: flex;
    overflow-x: auto;
}
#text-content::-webkit-scrollbar{
    background-color: transparent;
    height: 7px;
}
#text-content::-webkit-scrollbar-thumb{
    background-color: orange;
}
.elem{
    height: 100%;
    width: 60%;
    /* background-color: greenyellow; */
    flex-shrink: 0;  /*no shrink*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.elem h1{
    font-size: 8vw;
    font-weight: 300;
    text-align: center;
    margin-left: 10%;

}
#image-content{
    height: 70%;
    width: 100%;
    /* background-color: gold; */
    display: flex;
    overflow-x: auto;
}
#image-content::-webkit-scrollbar{
    background-color: transparent;
    height: 7px;
}
#image-content::-webkit-scrollbar-thumb{
    background-color: orange;
}
#image-content img{
    flex-shrink: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
