@media (min-width: 900px) and (max-width: 1280px), (min-height:460px) and(max-height: 480px){
    #page4{
        height: 300vh;
        width: 100%;
        padding: 7vh 0;
        position: relative;
      }
      #page4-content {
        min-height: 100%;
        width: 72vw;
        position: relative;
        margin-left: 28%;
      }
      #page4-content h1 {
        font-size: 7vw;
        text-transform: uppercase;
        position: relative;
      }
      #page4-content h1::before{
        content: "03";
        position: absolute;
        font-size: 3vw;
        font-weight: 100;
        font-family: "silk serif";
        left: -10%;
        top: 15%;
      }
      
      #page4-content .underline {
        height: 1px;
        width: 100%;
        background-color: #fff;
        margin: 3vw 0;
      }
      
      #direct-element {
        font-size: 2.7vw;
          width: 55%;
          margin-bottom: 4vw;
      }
      
      #page4-flex {
        display: flex;
      }
      
      #page4-flex img {
        height: 90vh;
        width: 45%;
      }
      
      #page4-flex p {
        font-size: 1.8vw;
          width: 33%;
          margin-left: 2vw;
      }
      #page4-blue-div{
        background-color: #3F7DF4;
        width: 44vw;
        padding: 5vw;
        position: relative;
        margin-top: -23vh;
        margin-left: 23vw;
        height: 80vh;
      }
      .blue-div-elem{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5vw 0;
        border-bottom: 2px solid #ffffff94;
      }
      .blue-div-elem h4{
        font-size: 2.2vw;
        font-weight: 500;
      }
      .blue-div-elem p{
        width: 40%;
        font-size: 1.5vw;
      }
      #page5{
        min-height: 100vh;
        width: 100%;
        position: relative;
      }
      .elem{
        white-space: nowrap; /* because of the wrap it will come in the 2nd line but when we use nowrap it will go out of the div in the x direction and that is why we use overflow-x: auto to make it scrollable */
        overflow-x: hidden;
        margin-bottom: -1vh;
      }
      .elem h1{
        font-size: 7vw;
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        text-transform: uppercase;
        font-weight: 400;
        display: inline-block;
        margin-right: 16px;
        animation-name: animation;
        animation-duration: 20s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
      .elem2{
        white-space: nowrap; /* because of the wrap it will come in the 2nd line but when we use nowrap it will go out of the div in the x direction and that is why we use overflow-x: auto to make it scrollable */
        overflow-x: hidden;
        margin-bottom: -1vh;
      }
      .elem2 h1{
        font-size: 7vw;
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        text-transform: uppercase;
        font-weight: 400;
        display: inline-block;
        margin-left: 16px;
        animation-name: animation;
        animation-duration: 20s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: reverse;
      }
      @keyframes animation{
        from{
            transform: translateX(0);
        }
        to{
            transform: translateX(calc(-100% - 20px));
        }
      }
      .elem span, .elem2 span{
        font-style: italic;
        font-family: "silk serif";
        color: transparent;
      }
      #footer{
        height: 100vh;
        width: 100%;
        position: relative;
        padding-left: 28vw;
        padding-right: 2vw;
      }
      #footer h1{
        font-size: 7vw;
        text-transform: uppercase;
      }
      #footer h1::before{
        content: "04";
        position: absolute;
        font-size: 3vw;
        font-weight: 100;
        font-family: "silk serif";
        left: 23%;
        top: 3%;
      }
      #footer .underline{
        height: 2px;
        width: 100%;
        background-color: #fff;
        margin: 2vw 0;
      }
      #footer-div{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-right: 15vw;
        padding-top: 2vw;
        margin-bottom: 7vw;
      }
      .box{
        width: 20%;
      }
      #footer-div h6{
        font-size: 1.6vw;
        margin-bottom: 1.5vw;
      }
      #footer-div h5{
        font-size: 2vw;
        font-weight: 500;
      }
      #footer > h5{
        color: green;
      }
      
}