* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plain Light";
  color: whitesmoke;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #151515;
}
#crsr{
  height: 2.5vw;
  width: 2.5vw;
  /* background-color: white; */
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  border: 1px solid #ffffff7d;
  transform: translate(-50%, -50%); /*to make the crsr center to the mouse arrow */
}
#main{
  position: relative;
  background-color: #030303;
}
#loader{
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 99;
  background-color: #030303;
  padding: 25vh 10vw;
}
.line{
  /* background-color: red; */
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5vw;
}
#line1-part1{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2vw;
}
#line1-part1 h5,#line1-part1 h6{
  font-size: 3vw;
  font-family: 'silk serif';
}
#line1-part1 h5{
  width: 5vw;
  text-align: right;
}
.line h1{
  font-size: 6.5vw;
  text-transform: uppercase;
  font-weight: 900;
}
.line h2{
  font-size: 6.5vw;
  text-transform: uppercase;
  font-weight: 900;
  animation-name: anime;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes anime {
  0%{
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 1;
  }
  47%{
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 0;
  }
  50%{
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 1;
  }
  100%{
    font-family: 'silk serif';
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 0;
  }
}


#page1,
#page2,
#page3 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
}
#page1{
  margin-bottom: 5vh;
}
#page1 #nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.3vh 4.5vw;
}

#nav-part2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3vw;
}
#nav-part2 h4{
  font-size: 0.8vw;
  font-weight: 500;
}
.hero{
  width: 72%;
  margin-left: 27%;
  height: fit-content;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  z-index: 9999;
}
.hero:nth-child(2)
{
  margin-top: 18vh;
}
.hero h1{
  font-size: 7.1vw;
  text-transform: uppercase;
  line-height: 7vw;
  font-weight: 600;
  position: relative;
}
#hero1::before{
  content: "01";
  position: absolute;
  font-size: 3vw;
  font-weight: 100;
  font-family: "silk serif";
  left: 20%;
  top: 29%;
}
.hero h2 {
  font-size: 7.2vw;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 7.2vw;
  border-bottom: 0.5vw solid #fff;
  /* padding-bottom: 0.8vw;
  /* transition: all ease 0.3s; */

}
.hero h2:hover{
  -webkit-text-stroke: 2px #fff;
  color: transparent;
  font-weight: 500;
    border-bottom: 0.5vw solid #ffffff00;
}

 #page2{
  padding-top: 17vh;
    position: relative;
} 
#video-container{
  height: 66vh;
  width: 71vw;
  position: relative;
  left: 28%;
  background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
  /* background-color: red; */
  background-size: cover;
  background-position: center;
}
#video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
}
#video-cursor {
  background-color: #FFA63D;
  height: 9vw;
  width: 9vw;
  border-radius: 50%;
  position: absolute;
  top: -15%;
  left: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

#video-cursor i {
  font-size: 2vw;
}


#page3{
  min-height: 180vh;
  width: 100%;
  /* background-color: rgb(61,61,61); */
  position: relative;
  padding: 17vh 2vw;
  margin-bottom: 20vh;
  margin-top: 20vh;
  }
  #page3 h1 {
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
    margin-left: 28vw;
  }
  #page3 h1::before{
    content: "02";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
    left: -10%;
    top: 15%;
  }
  #page3 .underline {
    height: 1.6px;
    margin-left: 28vw;
    background-color: #fff;
    margin-right: 10vw;
    margin-bottom: 2vw;
  }
  #image-div-container{
    /* background-color: crimson; */
    padding: 1vw;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    flex-wrap: wrap;
  }
  .image-div{
    height: 35vw;
    position: relative;
    overflow: hidden;
    width: 25vw;
    flex-shrink: 0;
    margin: 1vw;
  }
  .image-div:nth-child(1)
  {
    width: 22vw;
    height: 30vw;
  }
  .image-div:nth-child(3)
  {
    margin-left: 2vw;
  }
  .image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .page3-circle1{
    height: 23vw;
    width: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    margin-left: 6vw;
    position: relative;
  }
  .page3-circle1 svg{
    height: 30%;
  }
  .page3-circle2{
    height: 23vw;
    width: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1vw;
    position: relative;
    /* margin-top: 20vh;
    margin-left: 10vw; */
  }
  .page3-circle2 svg{
    height: 30%;
    rotate: -45deg;
  }
  .circle-in{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #000;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0;
    
    border-radius: 50%;
    transition: all ease-out;
  }
  .circle-in p{
    font-size: 1.1vw;
    color: #000;
    width: 80%;
    font-weight: 500;
    scale: 0;
    transition: all ease-out;
    transition-delay: 0.1s;
  }
  .page3-circle1:hover .circle-in{
    scale: 1;
  }
  .page3-circle1:hover p{
    scale: 1;
    opacity: 1;
  }
  .page3-circle2:hover .circle-in{
    scale: 1;
  }
  .page3-circle2:hover p{
    scale: 1;
  }
  
    #page4{
        height: 300vh;
        width: 100%;
        padding: 7vh 0;
        position: relative;
      }
      #page4-content {
        min-height: 100%;
        width: 72vw;
        position: relative;
        margin-left: 28%;
      }
      #page4-content h1 {
        font-size: 7vw;
        text-transform: uppercase;
        position: relative;
      }
      #page4-content h1::before{
        content: "03";
        position: absolute;
        font-size: 3vw;
        font-weight: 100;
        font-family: "silk serif";
        left: -10%;
        top: 15%;
      }
      
      #page4-content .underline {
        height: 1px;
        width: 100%;
        background-color: #fff;
        margin: 3vw 0;
      }
      
      #direct-element {
        font-size: 2.7vw;
          width: 55%;
          margin-bottom: 4vw;
      }
      
      #page4-flex {
        display: flex;
      }
      
      #page4-flex img {
        height: 90vh;
        width: 45%;
      }
      
      #page4-flex p {
        font-size: 1.8vw;
          width: 33%;
          margin-left: 2vw;
      }
      #page4-blue-div{
        background-color: #3F7DF4;
        width: 44vw;
        padding: 5vw;
        position: relative;
        margin-top: -23vh;
        margin-left: 23vw;
        height: 80vh;
      }
      .blue-div-elem{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5vw 0;
        border-bottom: 2px solid #ffffff94;
      }
      .blue-div-elem h4{
        font-size: 2.2vw;
        font-weight: 500;
      }
      .blue-div-elem p{
        width: 40%;
        font-size: 1.5vw;
      }
      #page5{
        min-height: 100vh;
        width: 100%;
        position: relative;
      }
      .elem{
        white-space: nowrap; /* because of the wrap it will come in the 2nd line but when we use nowrap it will go out of the div in the x direction and that is why we use overflow-x: auto to make it scrollable */
        overflow-x: hidden;
        margin-bottom: -1vh;
      }
      .elem h1{
        font-size: 7vw;
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        text-transform: uppercase;
        font-weight: 400;
        display: inline-block;
        margin-right: 16px;
        animation-name: animation;
        animation-duration: 20s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
      .elem2{
        white-space: nowrap; /* because of the wrap it will come in the 2nd line but when we use nowrap it will go out of the div in the x direction and that is why we use overflow-x: auto to make it scrollable */
        overflow-x: hidden;
        margin-bottom: -1vh;
      }
      .elem2 h1{
        font-size: 7vw;
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        text-transform: uppercase;
        font-weight: 400;
        display: inline-block;
        margin-left: 16px;
        animation-name: animation;
        animation-duration: 20s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: reverse;
      }
      @keyframes animation{
        from{
            transform: translateX(0);
        }
        to{
            transform: translateX(calc(-100% - 20px));
        }
      }
      .elem span, .elem2 span{
        font-style: italic;
        font-family: "silk serif";
        color: transparent;
      }
      #footer{
        height: 100vh;
        width: 100%;
        position: relative;
        padding-left: 28vw;
        padding-right: 2vw;
      }
      #footer h1{
        font-size: 7vw;
        text-transform: uppercase;
      }
      #footer h1::before{
        content: "04";
        position: absolute;
        font-size: 3vw;
        font-weight: 100;
        font-family: "silk serif";
        left: 23%;
        top: 3%;
      }
      #footer .underline{
        height: 2px;
        width: 100%;
        background-color: #fff;
        margin: 2vw 0;
      }
      #footer-div{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-right: 15vw;
        padding-top: 2vw;
        margin-bottom: 7vw;
      }
      .box{
        width: 20%;
      }
      #footer-div h6{
        font-size: 1.6vw;
        margin-bottom: 1.5vw;
      }
      #footer-div h5{
        font-size: 2vw;
        font-weight: 500;
      }
      #footer > h5{
        color: green;
      }
      ._canvas_container{
        z-index: 999999 !important;
        pointer-events: none;
      }