$breakpoints:(
    "xs":0,
    'sm':480px,
    "md":720px,
    "lg":960px,
    "xl":1200px,
);

@mixin xs {
    @media (min-width:map-get($breakpoints,'xs')){
        @content;
    }
}
@mixin sm {
    @media (min-width:map-get($breakpoints,'sm')){
        @content;
    }
}
@mixin md {
    @media (min-width:map-get($breakpoints,'md')){
        @content;
    }
}
@mixin lg {
    @media (min-width:map-get($breakpoints,'lg')){
        @content;
    }
}
@mixin xl {
    @media (min-width:map-get($breakpoints,'xl')){
        @content;
    }
}

@mixin breakpoint($bp: 0)
{
    @media (min-width:$bp)
    {
        @content;
    }
}

.responsive-test{
    @include xs{
        color: red;
    }
    @include sm{
        color: rgb(26, 255, 0);

    }
    @include md{
        color: rgb(255, 242, 0);
        border: 2px solid green;

    }
    @include lg{
        color: rgb(57, 5, 109);
        background: linear-gradient(90deg, #aec7da 15%, #9c89b4 42%, #c7c9f3 71%, rgba(195,207,219,1) 92%);
    }
    @include xl{
        color: rgb(0, 115, 255);
    }
    @include breakpoint(1400px)
    {
        color: rgb(220, 41, 154);
    }
}