* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy", "Helvetica";
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
}
#crsr {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: fixed;
  background-color: #edbfff;
  z-index: 8;
  mix-blend-mode: difference;
  transition: left all linear 0.1s top all linear 0.1s1s;
}
#main {
  background-color: #0f0d0d;
}

.page1 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  /* z-index: 9; */
}
#nav {
  height: 55px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}
#nav img {
  height: 26px;
}
#nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#nav #circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
}
#nav h4 {
  font-size: 13px;
  text-transform: uppercase;
  font-size: 500;
}

#nav h4:nth-child(1) {
  border-bottom: 2px solid white;
}

.page1 > h1 {
  font-size: 8vw;
  font-family: "PP mori";
  font-weight: 400;
  margin-top: 12vw;
  margin-left: 5vw;
}
.page1 h2 {
  font-size: 7vw;
  font-family: "PP mori";
  font-weight: 400;
  margin-left: 25vw;
}

.page1 video {
  width: 60%;

  margin-top: 15vh;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
.page2 {
  min-height: 100vh;
  width: 100%;
  padding: 10vh 5vw;
  border-bottom: 2px solid black;
  /* background-color: crimson; */
}
.page2 h1 {
  font-size: 7vw;
  font-weight: 500;
  color: #111;
}
#page2-container {
  height: 60vh;
  width: 100%;
  /* background-color: cornflowerblue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0 5vw; */
}
.page2-left {
  /* background-color: blue; */
  width: 40%;
}
.page2-left h2 {
  font-size: 4vw;
  font-weight: 500;
  color: #111;
  line-height: 10vh;
}
.page2-right {
  /* background-color: blue; */
  width: 25%;
}
.page2-right p {
  font-size: 28px;
  color: #111;
}
.page2-right button {
  width: 100%;
  border-radius: 50px;
  border: none;
  padding: 4px 0;
  background-color: #edbfff;
  color: #111;
  margin-top: 20px;
}
.page3 {
  min-height: 130vh;
  width: 100%;
  background-color: #edbfff;
  position: relative;
  padding-top: 100px;
}
.page3 h1 {
  font-size: 6.8vw;
  color: #111;
  font-weight: 400;
  margin-left: 8vw;
}

.page3-part1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.page3-part1 img {
  height: 60vh;
  margin-top: 16vh;
}
.page3-part1 video {
  position: absolute;
  right: 4vw;
}
.page4 {
  min-height: 120vh;
  width: 100%;
  position: relative;
  padding: 10vh;
  background-color: black;
}

.elem {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.text-div {
  /* background-color: cornflowerblue; */
  height: 17vh;
  overflow: hidden;
  position: relative;
  z-index: 99;
}

.elem h1 {
  font-size: 7vw;
  font-weight: 600;
  transition: all ease-out 0.5s;
}

.elem img {
  position: absolute;
  opacity: 0;
  transition: all ease-out 0.5s;
  transform: translateY(10%) rotate(2deg);
}

.elem img:nth-child(1) {
  left: 2%;
  top: 0;
}

.elem img:nth-child(3) {
  right: 5%;
  top: 0;
}
.elem:hover h1 {
  transform: translateY(-100%);
  color: #edbfff;
}
.page5 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 9;
  padding: 140px 100px;
  background-color: #0f0d0d;
}
.page5 h2 {
  font-size: 4.5vw;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 5vh;
}
.box {
  /* background-color: cadetblue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.6vh;
  padding: 0 2px;
  border-top: 1px solid #dadada;
}
footer {
  height: 90vh;
  width: 100%;
  background-color: #edbfff;
}
.box:nth-last-child(1) {
  border-bottom: 1px solid #dadada;
}
