:root {
  --salmon: #ef9d71;
  --black: #000;
  --white: #fff;
  --cyan: #aedee0;
  --dsalmon: rgb(87, 37, 33);
  --dcyan: #1f2f32;
}

body {
  transition: background-color ease-out 1s;
}
.videodiv {
  /* variable clip is used in style of videodiv. 50% from x and 50% from y. Circle means the video will get cliped in a circle way. video [2:01:00] */
  clip-path: circle(var(--clip) at 50% 50%);
}

*::selection {
  background-color: var(--salmon);
  color: var(--dsalmon);
}

body[theme="black"] {
  background-color: var(--black);
}
body[theme="black"] .section {
  color: var(--white);
}
body[theme="cyan"] {
  background-color: var(--cyan);
}
body[theme="cyan"] .section {
  color: var(--dcyan);
}
body[theme="salmon"] {
  background-color: salmon;
}
body[theme="salmon"] .section {
  color: rgb(87, 37, 33);
}
body[theme="white"] {
  background-color: #fff;
}
body[theme="white"] .section {
  color: black;
}

.card1,
.card2,
.card3,
.card4 {
  width: 70%;
  height: 35vh;
  border: 1px solid black;
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.craft {
  position: relative;
  height: 200vh;
  background-color: transparent;
}
.cards {
  position: absolute;
  right: 2%;
  /* top: 40%; */
}

.down-arrow{
  position: fixed;
  bottom: 8%;
  right: 10%;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
  display: initial;
}
.down-arrow i{
  font-size: 40px;
  padding: 10px;
  color: white;
}