.form {
  /* width: "90vw",
  : "1170px",
    margin: "3rem auto",
    padding: "2rem",
    borderRadius: "0.5rem",
    backgroundColor: "#f2f2f2",
    boxShadow: "0 0 10px rgba(0,0,0,0.1)", */
  width: 90vw;
  max-width: 1170px;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: #f2f2f2;
  box-shadow: "0 0 10px rgba(0,0,0,0.1)";
}
.title {
  letter-spacing: 0.1rem;
  line-height: 1.25rem;
  margin-bottom: "0.5rem";
  font-size: "2rem";
}
